// .list {
//   list-style: none;
//   margin: 2rem 0 3rem;
//   padding-left: 0;

//   li {
//     margin-top: 1rem;

//     &::before {
//       // content: "🐶";
//       font-size: 1.5rem;
//       margin-right: 1.25rem;
//     }
//   }
// }

.affirmation-wrapper {
  // pushes table down
  padding-top: 150px;
  max-width: 400px;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  overflow: hidden;
  // also tried scroll
  table-layout: fixed;
  width: 400px;
  max-height: 300px; // not working
}

tbody {
  margin-top: 30px;
}

// commented out
thead {
  width: 300px;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  overflow: hidden;
  // overflow: scroll
}

label {
  margin-bottom: -15px;
  // aligns center
  text-align: center;
}

button.delete-btn,
button.add-btn {
  /* styling */
  height: 30px;
  width: 90px;
  background-color: #411195;
  border: 1px solid #411195;
  border-radius: 25px;
  color: white;
  font-weight: 300;
  font-size: 1.1rem;
  cursor: pointer;
  /* margin-left: -15px; */
  padding: 5px 3px;
}
button:hover {
  background: #702fe0;
  color: white;
  transition: all 0.5s ease;
}
