/* BUGS - Hover Effect not working: line 85 */
a {
  cursor: pointer;
}
/* PARENT1: <nav> that holds entire navbar menu */
.navbar {
  /* display: flex - this will float everything on the same line, including navbar-top*/
  /* background: url("./images/serene-top.jpg") center center/cover no-repeat; */
  /* background: #f6f5f5; */
  /* height: 115px; */
  top: 0;

  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar-top-left {
  display: flex;
}

/* holds entire navbar, and sits inside 'navbar' <div> */
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60px; */
  margin-left: 40px;
  max-width: 90%;
}

/* 'InterMention' - applied to logo LINK <a> */
.navbar-logo {
  display: flex;
  /* floats logo to left */
  justify-self: start;
  font-size: 3rem;
  /* width: 100%; */
  /* font-weight: 100; */
  margin-left: 25px;
  align-items: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.logo-text {
  font-size: 2.2rem;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 100;
  font-family: "Noto Sans JP", sans-serif;
  color: #a988e2;
}
.logo-text:hover {
  color: #411195;
  transition: all 0.5s ease-out;
}
.logo-text span {
  color: #8e5ee2;
}
/* test comment */

/* Hamburger Menu ********************/
/* hides hamburger in Desktop view */
.menu-icon {
  display: none;
}

.greetings {
  color: #8e5ee2;
  font-size: 19px;
  margin-top: 34.5px;
}

/* CHILD - <i> Hamburger Menu */
.fa-bars {
  font-size: 1.8rem;
  color: #8e5ee2;
  margin-top: 10px;
  margin-right: -5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.18);
}
.fa-bars:hover {
  color: #411195;
}

.menu-icon .fa-times {
  color: #a988e2;
  margin-top: 5px;
  margin-right: -5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.18);
}
.fa-times:hover {
  color: #411195;
}

/* PARENT3 - <ul> that holds <li>'s & LINKs */
.nav-menu {
  /* all child elements are on a grid */
  display: grid;
  font-weight: 300;
  grid-template-columns: repeat(5, auto);
  grid-gap: 40px;
  width: 90vw;
  margin-top: 0px;
  /* floats links to the end */
  justify-content: end;
  list-style: none;
  text-align: center;
  /* 60% of the viewport width */
}

/* PARENT4 - <li> that holds LINKs */
.nav-item {
  height: 80px;
}

/* CHILD - LINK <a> */
.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.3rem;
  margin: 0.4rem 0rem;
  font-size: 19px;
  font-weight: 300;
  height: 100%;
  color: #431195;
  cursor: pointer;
}

/* hover effect - border bottom & lifting effect when hovering */
.nav-links:hover {
  color: #f5f5f5;
  font-weight: 300;
  font-size: 21px;
  transition: all 0.3s ease-out;
}

/* CHILD: LINK - SIGN UP LINK */
/* hide in desktop view */
.nav-links-mobile {
  display: none;
}

/* Contact button */
.nav-btn {
  margin-top: 13px;
  margin-left: -20px;
}

button {
  /* styling */
  height: 30px;
  width: 90px;
  background-color: transparent;
  border: 1px solid #411195;
  border-radius: 25px;
  color: #411195;
  font-weight: 300;
  font-size: 1.1rem;
  cursor: pointer;
  /* positioning */
  margin-top: 30px;
  /* margin-left: -15px; */
  padding: 5px 3px;
}
button:hover {
  background: #702fe0;
  color: white;
  transition: all 0.5s ease;
}

.smooth-scroll {
  cursor: pointer;
}

.profile {
  display: block;
}

.auth-logout {
  display: none;
}

/* mobile menu? */
@media screen and (max-width: 900px) {
  .auth-logout {
    display: block;
  }

  .profile {
    display: none;
  }

  .navbar {
    display: flex;
    height: 80px;
  }

  /* PARENT2 - holds menu */
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-left: 0px;
    max-width: 85%;
  }

  .nav-btn:hover {
    color: #f6f5f5;
    background-color: #431195;
  }

  .logo-text {
    font-size: 2.4rem;
    margin-top: 15px;
    font-weight: 100;
    font-family: "Noto Sans JP", sans-serif;
    color: #a988e2;
  }

  .navbar-logo {
    display: flex;
    /* floats logo to left */
    justify-self: start;
    margin-right: 45px;
    font-size: 2.5rem;
    text-decoration: none;
    color: #431195;
    cursor: pointer;
  }

  /* PARENT3: LINK <a> that holds logo <i>
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  } */

  /* Hamburger Menu */
  .menu-icon {
    /* from none to block */
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    /* down 100% & over 60% */
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 13px;
    margin-top: 3px;
  }

  /* CHILD: <i> that holds X */
  .fa-times {
    color: #431195;
    font-size: 2rem;
  }

  /* <ul> changes from grid to flex */
  .nav-menu {
    display: flex;
    /* up & down */
    flex-direction: column;
    /* distance between */
    grid-gap: 10px;
    /* pushes entire menu up */
    padding-bottom: 40px;
    position: absolute;
    width: 100%;
    height: 55vh;
    /* height of header */
    top: 80px;
    /* hides automatically 'til it slides out */
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  /* PARENT3: <ul>.active = mobile version */
  .nav-menu.active {
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  /* CHILD: LINK <a> */
  .nav-links {
    /* links won't center w/out it */
    display: table;
    text-align: center;
    padding: 2rem;
    margin-top: 15px;
    width: 100%;
    font-size: 21px;
    color: #431195;
  }
  .nav-links:hover {
    background-color: #f6f5f5;
    color: #702fe0;
    border-radius: 0;
  }

  /* .mobile-link {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  } */

  /* CHILD: SIGN UP button <a> */
  .nav-links-mobile {
    /* links won't center w/out it */
    display: table;
    text-align: center;
    padding: 2rem;
    margin-top: 15px;
    width: 100%;
    font-size: 21px;
    color: #431195;
  }

  /* when you hover over SIGN UP button the background changes to white */
  .nav-links-mobile:hover {
    background-color: #f6f5f5;
    color: #702fe0;
    border-radius: 0;
  }

  button.log-btn {
    margin-top: 20px;
    margin: 0 auto;
  }

  .btn {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navbar-logo {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 400px) {
  .navbar-logo {
    font-size: 2rem;
  }
  .navbar-container {
    margin-left: 0px;
  }
  .nav-links {
    font-size: 21.5px;
  }
}
